<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>Your password has been reset successfully. Here are the details:</p>
    <ul>
        <li><strong>New Password:</strong> {{ password }}</li>
    </ul>
    <p>If you did not initiate this password reset, please contact our support team.</p>
    <p>Thank you,</p>
    <p>Your Application Team</p>
</body>
</html>
